<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>verificacion</servlet-name>
        <servlet-class>servlets.verificacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>caidacalculos</servlet-name>
        <servlet-class>servlets.caidacalculos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servletmfp</servlet-name>
        <servlet-class>servlets.Servletmfp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMasa</servlet-name>
        <servlet-class>servlets.ServletMasa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPeso</servlet-name>
        <servlet-class>servlets.ServletPeso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFisica</servlet-name>
        <servlet-class>servlets.ServletFisica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMate</servlet-name>
        <servlet-class>servlets.ServletMate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConversionCalculo</servlet-name>
        <servlet-class>servlets.ConversionCalculo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fracc</servlet-name>
        <servlet-class>servlets.fracc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCirculo</servlet-name>
        <servlet-class>servlets.ServletCirculo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCuadrado</servlet-name>
        <servlet-class>servlets.ServletCuadrado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPerimetroDosV</servlet-name>
        <servlet-class>servlets.ServletPerimetroDosV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPrismasyPiramides</servlet-name>
        <servlet-class>servlets.ServletPrismasyPiramides</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRegistro</servlet-name>
        <servlet-class>servlets.ServletRegistro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCerrarSesion</servlet-name>
        <servlet-class>servlets.ServletCerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInicio</servlet-name>
        <servlet-class>servlets.ServletInicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VCaida</servlet-name>
        <servlet-class>servlets.VCaida</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CaidaOpciones</servlet-name>
        <servlet-class>servlets.CaidaOpciones</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>verificacion</servlet-name>
        <url-pattern>/verificacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>caidacalculos</servlet-name>
        <url-pattern>/caidacalculos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servletmfp</servlet-name>
        <url-pattern>/Servletmfp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMasa</servlet-name>
        <url-pattern>/ServletMasa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPeso</servlet-name>
        <url-pattern>/ServletPeso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFisica</servlet-name>
        <url-pattern>/ServletFisica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMate</servlet-name>
        <url-pattern>/ServletMate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConversionCalculo</servlet-name>
        <url-pattern>/ConversionCalculo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fracc</servlet-name>
        <url-pattern>/fracc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCirculo</servlet-name>
        <url-pattern>/ServletCirculo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCuadrado</servlet-name>
        <url-pattern>/ServletCuadrado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPerimetroDosV</servlet-name>
        <url-pattern>/ServletPerimetroDosV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPrismasyPiramides</servlet-name>
        <url-pattern>/ServletPrismasyPiramides</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRegistro</servlet-name>
        <url-pattern>/ServletRegistro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCerrarSesion</servlet-name>
        <url-pattern>/ServletCerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInicio</servlet-name>
        <url-pattern>/ServletInicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VCaida</servlet-name>
        <url-pattern>/VCaida</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaidaOpciones</servlet-name>
        <url-pattern>/CaidaOpciones</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
